.wallpaper-thumbnail {
  transition: opacity 150ms ease, transform 150ms ease;
  opacity: 1;

  &:hover {
    opacity: 0.8;
    transform: scale(1.02);
  }
}

.wallpaper-grid {
  all: unset;
  padding: 0 32px 0 32px;
  margin: 0 32px 0 32px;

  > child {
    all: unset;
    margin: 2px 2px 2px -32px;
  }
}

.wallpaper-grid-small {
  all: unset;
  padding: 0 32px 0 32px;
  margin: 0 32px 0 32px;

  > child {
    all: unset;
    margin: 2px 2px 2px -16px;
  }
}

.wallpaper-empty-message {
  padding: 20px
}

.wallpaper-shadow {
  box-shadow:
    inset 32px 0 16px -8px var(--surface),
    inset -32px 0 16px -8px var(--surface);
}
